.keyboard-key {
    margin: 2px;
    padding: 2px;
}

.btn-key {
    margin: 2px;
    border: 1px solid rgb(31, 99, 182);
    color: rgb(31, 99, 182);
    border-radius: 5px;
    font-size: 1.2em;
    width: 55px;
    min-width: 55px;
    height: 55px;
}

.btn-kana {
    width: 80px;
    min-width: 80px;
}

.btn-key:hover {
    background-color: white;
    color: rgb(31, 99, 182);
}

.typing-display {
    font-size: 4rem;
    color: rgb(16, 95, 155);
}

.btn-key.active {
    background: rgb(169, 185, 220);
    color: rgb(16, 95, 155);
}

.navi-active {
    background: rgb(16, 95, 155);
    color: white;
}